/* CSS files add styling rules to your content */

body {
  font-family: georgia, serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

a {
  
  color: grey;
}

img {
  
  image-rendering: -webkit-optimize-contrast;
}


@media screen and (max-width: 480px) {
  .strip {
    width: 100%;
    padding: 1%;
  }
}

@media screen and (min-width: 480px) {
  .strip {
    width: 50%;
    padding: 1%;
  }
}
