/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(245,245,245);
}

a.header-link {
  color:rgb(66,66,66);
  text-decoration: none;
}

/* unvisited link */
a.header-link:link {
  color:rgb(105,105,105);
  text-decoration: none;
}

/* visited link */
a.header-link:visited {
  color:rgb(105,105,105);
  text-decoration: none;
}

/* mouse over link */
a.header-link:hover {
  color: rgb(245,245,245);
  background-color:rgb(105,105,105); 
  text-decoration: none;
}

/* selected link */
a.header-link:active {
  color:rgb(105,105,105);
  text-decoration: none;
}