/* CSS files add styling rules to your content */
/* testing */
a {
	color:pink;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(245,245,245);
}



/* header links */
.header-link {
  color:pink;
}

a.header-link {
  color:rgb(66,66,66);
}

/* unvisited link */
a.header-link:link {
  color:rgb(66,66,66);
}

/* visited link */
a.header-link:visited {
  color:rgb(66,66,66);
}

/* mouse over link */
a.header-link:hover {
  color: rgb(245,245,245);
  background-color:rgb(66,66,66); 
}

/* selected link */
a.header-link:active {
  color:rgb(66,66,66);
}